/* developed by mb_mishu */

* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: "Poppins", sans-serif;
    line-height: 2.2;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
    background-color: white;
    overflow-x: hidden;
}

::-moz-selection {
    /* Code for Firefox */
    background: var(--theme-color);
}

::selection {
    color: white;
    background: var(--theme-color);
}

a {
    color: var(--theme-dark);
}

a:hover {
    color: var(--theme-dark);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kaushan Script', cursive;
}

:root {
    --theme-color: #fdcb6e;
    --theme-dark: #1e1e1e;
    --theme-light: #f8f9fa;
}